{% load static %}
{% load book_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'font/stylesheet.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css_additional %} {% endblock %}
    <script></script>
</head>
<body>
    <script type="text/javascript">

    </script>
<div id="blockMain">

    <div id="admMenu" class="blockBGLightGray blockRightShadow">
        <div id="blockAdmMenu">
            <div id="iconAdmMenu"><img src="{% static 'book/images/menu.png' %}" alt=""></div>
            <div id="textAdmMenu">
                <div class="blockPadding_1em">
                    <h1><a href="{% url 'home' %}">eBooks</a></h1>
                </div>
                <hr />  
                
                <div class="blockPadding_1em leftMenu">
                    <ul>
                        {% for menu in main_menu %}
                            {% if request.user.is_authenticated %}
                                {% if menu.url_name != 'login' and menu.url_name != 'registration' %}
                                    <li><a href="{% url menu.url_name %}" class="{{ menu.url_name }}">{{ menu.title }}</a></li>
                                {% endif %}
                            {% else %}
                                {% if menu.url_name != 'add_book' and menu.url_name != 'logout' %}
                                    <li><a href="{% url menu.url_name %}" class="{{ menu.url_name }}">{{ menu.title }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <hr />
                <div class="blockPadding_1em leftMenu">
                    <h1>Меню по жанрам</h1>
                    <ul>
                        {% if genre_selected == 0 %}
                            <li class="active"><a href="{% url 'home' %}">Все жанры</a></li>
                        {% else %}
                            <li><a href="{% url 'home' %}">Все жанры</a></li>
                        {% endif %} 

                        {% show_genres sort='genre_name' genre_selected=genre_selected %}

                    </ul>
                </div>                
            </div>
        </div>
    </div>

    <div id="admPanel">
        <div class="blockPadding_1em">
            <div id="blockContext">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

</div>    
</body>
</html>