{% extends 'base.html' %}

{% block mainmenu %}
<div class="blockPadding_1em leftMenu">
    <ul>
        {% for menu in main_menu %}
            {% if request.user.is_authenticated %}
                {% if menu.url_name != 'login'%}
                    <li><a href="{% url menu.url_name %}" class="{{ menu.url_name }}">{{ menu.title }}</a></li>
                {% endif %}
            {% else %}
                {% if menu.url_name != 'add_book'%}
                    <li><a href="{% url menu.url_name %}" class="{{ menu.url_name }}">{{ menu.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock mainmenu %}